/* @import "tailwindcss"; */

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: 'Satoshi', 'Inter', sans-serif;
}


h1, h2, h3, h4, h5, h6 {
  font-family: 'Space Grotesk', sans-serif;
}
